.main-header{
    padding-left: 40px;
}

.heroList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.heroList .card{
    max-width: 250px;
}

.heroPicks{
    width: 100%;
    height: 200px;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

.heroPicks img {
    width: 120px;
    margin: 10px;
}

.heroPicks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.versus{
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.versus h2{
    margin: 0 0 15px 0 !important;
    
    
}

.winners,
.losers {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
}

.winners .card,
.losers .card{
    margin: 0 5px;
}

.winnderBtn{
    text-align: center;
    margin: 70px 0;
}




@media (min-width: 1201px) and (max-width: 1550px) 
{
  .teamOne img,
  .teamZero img{
    width: 80px;
   }

   .heroPicks{
    height: 135px;
   }
}

@media (max-width: 1200px) 
{
  .teamOne img,
  .teamZero img{
    width: 60px;
   }

   .heroPicks{
    height: 135px;
   }
}