{% load staticfiles %}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <title>Dota Match Prediction</title>
    <body>
    <nav>
        <div class="nav-wrapper indigo main-header">
            <a href="#" class="brand-logo">Dota 2 Win Prediction</a>

        </div>
    </nav>
        {% block content %}
        {% endblock %}
    </body>
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="{% static '/js/scripts.js' %}"></script> 
</html>